<table class=" table table-bordered">
    <thead>
        <tr>
            <th>Bill Number</th>
            <th>Revstreams</th>
            <th>Business Name</th>
            <th>Email</th>
            <th>Narrations</th>
            <th>Amount</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Bill Number</th>
        </tr>
    </thead>
    <tbody *ngFor='let bill of bills'>
        <tr >
            <td>{{bill.id}}</td>
            <td>{{bill.Revstreams}}</td>
            <td>{{bill.customer_name}}</td>
            <td>{{bill.customer_email}}</td>
            <td>{{bill.narration}}</td>
            <td>{{bill.subtotal}}</td>
            <td>{{bill.quantity}}</td>
            <td>{{bill.status}}</td>
            <td>{{bill.bill_id}}</td>
        </tr>
    </tbody>
</table>

